100 Days of Python/Day 46 (Spotify Billboard Playlist Creator)/token.txt
100 Days of Python/Day 46 (Spotify Billboard Playlist Creator)/.env
ddwz nsmp kjid amqi
100 Days of Python/Day 69 (Adding Users to Blog Website)/.venv
100 Days of Python/Day 69 (Adding Users to Blog Website)/__pycache__