{% extends 'base.html' %}
{% block title %}Restaurants{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Cafes</h1>

	  <table class="table table-dark table-striped table-hover">
          <!-- This is where you will write the code to render a Bootstrap 
          Table that contains all the information from the 
          cafe-data.csv file. -->
          {% for i in range(0, cafes |length): %}

          <tbody>
            <tr>
              <th scope="row">{{cafes[i][0]}}</th>
              <th scope="row">
                {% if cafes[i][1][:4] == 'http' %}
                  <a href="{{cafes[i][1]}}">Maps Link</a>
                {% else %}
                  {{cafes[i][1]}}
                {% endif %}
              </th>
              <th scope="row">{{cafes[i][2]}}</th>
              <th scope="row">{{cafes[i][3]}}</th>
              <th scope="row">{{cafes[i][4]}}</th>
              <th scope="row">{{cafes[i][5]}}</th>
              <th scope="row">{{cafes[i][6]}}</th>
            </tr>
          </tbody>

          {% endfor %}

  	  </table>

      <p><a href="{{ url_for('home')}}">Return to index page</a></p>

    </div>
  </div>
</div>

{% endblock %}
